body {
    background-color: yellow;
    margin-bottom: 0;
}

.background{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: steelblue;
    margin-left: 20px;
}
h2{
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
h3{
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}
h4{
    color: lightseagreen;
    font-size: 17px;
    margin-left: 20px;
}
dt{
    font-weight: bold;
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}

p{
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.image1 {
    width: 22px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}
li{
    margin-left: 60px;
}
.image2 {
    width: 18px;
    height: auto;
    vertical-align: middle;
    margin-left: 3px;
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image4{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image5{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}
.image6{
    height: 530px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}
.cine{
    list-style-image: url("img/icono-cine.png") ;
    color:  lightseagreen;
}


.informacio{
    background-color: grey;
    margin-left: 45%;
    margin-right: 45%;
}
.twitter-tweet{
    margin-left: 20px;
}

.contenedor{
    display: flex; 
    gap: 20px; 
}

.columna.esquerra{
    flex: 3; 
    padding: 10px;
}

.columna.dreta{
    flex: 1;
    padding: 10px;
    border: 1px solid black;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background-color: grey;
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px 0;
}

#navegador {
    list-style-type: none;
    background-color: grey;
    width: 100%;
    padding: 10px 0;
}

nav{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

a{
    margin-bottom: 20px;
    color: orange;
    text-decoration: none;
}
a:hover{
    background-color: orange;
    color: white;
}
nav a{
    padding: 10px;
}

#General{
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
}


footer {
    background-color: violet;
    text-align: center;
    margin-top: 0;
}